.banner {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  align-items: center;    /*vertically align items in the container */
  width: 100%;
}

.logo{
  border: thin solid black;
  display: flex;
  flex: 1 0 100px;
  align-items: center;  /*vertically align items in the container */
  padding: 0 30px;
}

.logo span{
  color: MediumAquamarine;
  margin-left: 12px;
}

.hlinks{
  color: black;
}

.hlinks span{
  display: inline-block;
  padding: 0 10px;
}

.content{
  border: thin solid black;
  display: inline-flex;
  flex-direction: row;
  padding-top: 69px;
}

.column.large{
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium{
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small{
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

p{
  border: thin solid red;
}

#title{
  font-size: 24px;
  font-weight: bold;
}
