/*p{
  border: thin solid red;
}*/

footer{
  display: flex;
  align-items: center;
  justify-content: center;             /*horizontally align items in the container */
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  height: 300px;
}

.flinks{
  font-family: Verdana;
  font-size: 12px;
  color: black;
}

.flinks span{
  display: inline-block;
  padding: 0 10px;
}

.foot{
  display: inline-flex;
}

.brand{
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.symbol{
  padding: 0 30px;
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.banner {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  align-items: center;    /*vertically align items in the container */
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
}

.logo{
  /*border: thin solid black;*/
  display: flex;
  flex: 1 0 auto;
  align-items: center;  /*vertically align items in the container */
  padding: 0 30px;
}

.logo span{
  color: MediumAquamarine;
  margin-left: 12px;
}

.hlinks{
  color: black;
}

.hlinks span{
  display: inline-block;
  padding: 0 10px;
}

.content{
  /*border: thin solid black;*/
  display: flex;
  flex-direction: row;
  padding-top: 69px;
  top: 10px;
  left: 0;
  align-content: flex-start;
}

.column.large{
  /*border: thin solid black;*/
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 30px;
  left: 0;
}

.column.large. div{
  display: inline-flex;
}

.column.medium{
  /*border: thin solid black;*/
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
}

.column.small{
  /*border: thin solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin-right: 30px;
}

.passage {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.imagery{
  display: flex;
}

.imagery.main p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.imagery p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.title{
  font-size: 24px;
  font-weight: bold;
}

.newsbites p{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.newsitems p{
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0;
  /*border-bottom: thin solid black;*/
  height: 30px;
  width: 240px;
  align-items: center;
}

#p1{
  height: 300px;
  background-image: url("../images/img-story-main.png");
}
#p4{
  height: 300px;
  width:100%;
  background-image: url("../images/img-story-2.png");
}

#p6{
  height: 300px;
  background-image: url("../images/img-story-3.png");
}

#p8{
  height: 300px;
  background-image: url("../images/img-story-1.png");
}
